@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Rubik;
  src: url("../public/Fonts/Rubik-Regular.woff2");
}
@font-face {
  font-family: Rubik-md;
  src: url("../public/Fonts/Rubik-Medium.woff2");
}
@font-face {
  font-family: Rubik-bold;
  src: url("../public/Fonts/Rubik-Bold.woff2");
}
@font-face {
  font-family: Rubik-black;
  src: url("../public/Fonts/Rubik-Black.woff2");
}
@font-face {
  font-family: Rubik-light;
  src: url("../public/Fonts/Rubik-Light.woff2");
}
@font-face {
  font-family: Rubik-semibold;
  src: url("../public/Fonts/Rubik-SemiBold.woff2");
}

@layer components {
  .MenuBtn {
    @apply flex space-x-2 p-4 rounded-lg  w-full hover:bg-neutral-700 hover:text-neutral-50 duration-300 overflow-hidden cursor-pointer;
  }
  .active {
    @apply bg-neutral-700 text-neutral-50 rounded-lg;
  }
}
.imagewraper {
  height: 100vh;
  width: 100%;
  clip-path: inset(0 0 0 0);
  position: relative;
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  /* background-color: black; */
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    opacity 0.1s 0.22s linear;
}
.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
